
.header {
    display:flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: start;
    align-items: center;
    background-color: var(--accent_color);
    
}

.nav {
    display:flex;
    flex-direction:row;
    gap: 0.5em;
    justify-content: space-around;
    flex-grow:1;
}

.navElement {
    font-size:1.5rem;
    cursor: pointer;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.navElement.active {
    color:var(--text_color);
    transform: translate(0,-0.1em) scale(1.1);
    
}
-webkit-link {
    color:white;
}
