@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'), url(./assets/CoolveticaRg.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "FairfaxPonaHD";
  src: url(./assets/FairfaxPonaHD.ttf) format("truetype");
}

body, html {
  margin:0;
  overflow-x:hidden;
}

body {
  font-family: Coolvetica;
}

body.sitelenpona {
  font-family: FairfaxPonaHD;
}

@media (min-width:850px) {
  :root {
    font-size: calc(0.75vw + 0.5rem);
  }
}

@media (max-width:850px) {
  :root {
    font-size: calc(0.75vw + 0.3rem);
  }
}

:root{

  height:100%;

  overflow-x:hidden;

  --body_background: #eadffe;
  --accent_color: #f1ebfd;

  --color_primary_100: #382bf0;
  --color_primary_200: #5e43f3;
  --color_primary_300: #7a5af5;
  --color_primary_400: #9171f8;
  --color_primary_500: #a688fa;
  --color_primary_600: #ba9ffb;
  
  --color_bright_100: #bca2fc;
  --color_bright_200: #d4c1fd;
  --color_bright_300: #eadffe;
  --color_bright_300: #ffffff;
  
  --color_surface_100: #1a1625;
  --color_surface_200: #2f2b3a;
  --color_surface_300: #46424f;
  --color_surface_400: #5e5a66;
  --color_surface_500: #76737e;
  --color_surface_600: #908d96;
  --text_color: #000000;

  color: var(--text_color);
}

[data-theme="dark"] {
  --body_background: #2f2b3a;
  --accent_color: #1a1625;
  
  --text_color: #ffffff;
}

.outlineText {
  color: transparent;
  -webkit-text-stroke: 0.03em var(--text_color);
}

.outlineText.outlineTextActive{
  width:fit-content;
  color:transparent;
  background: repeating-linear-gradient(-45deg, transparent, transparent 45%, var(--text_color) 45%, var(--text_color) 55%, transparent 55% , transparent);
  background-clip: text;
  background-repeat: repeat-x;
  background-size: 200%;
  font-weight:500;
  animation:gradientAnimation 1s linear infinite;
  background-repeat: repeat;
}

.outlineTextHover {
  color: transparent;
  -webkit-text-stroke: 0.03em var(--text_color);
}

.outlineTextHover:hover{
  width:fit-content;
  color:transparent;
  background: repeating-linear-gradient(-45deg, transparent, transparent 45%, var(--text_color) 45%, var(--text_color) 55%, transparent 55% , transparent);
  background-clip: text;
  background-repeat: repeat-x;
  background-size: 200%;
  font-weight:500;
  animation:gradientAnimation 1s linear infinite;
  background-repeat: repeat;
}

@keyframes gradientAnimation{
  0%{
    background-position:0% 0%;
  }
  
  100%{
    background-position:200% 0%;
  }
}